* {
    font-family: 'Oswald';
    font-weight: 400;
}

body {
    color: rgb(122, 121, 121);
    /*font-family:'Droid Sans';*/
}

iframe {
    width: 560;
    height: 315;
    margin-right: 200px;
}

h1 {
    color: orangered;
}

ul {
    list-style: none;
    margin: 0;

    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: repeat(15, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, fr);
    margin-bottom: 25px;
    padding-bottom: 50px;
    background-image: url('assets/misc/grille.png');
    line-height: 80%;
}

footer {
    padding-top: 1%;
}

h2 {
    line-height: 40px;
}

.twelve {
    grid-column: 3;
}

.thirdteen {
    grid-column: 7;
    line-height: 18px;
}

.fourteen {
    grid-column: 8;
    line-height: 18px;
}

.fifthteen {
    grid-column: 9;
    line-height: 18px;
}

.sixteen {
    grid-column: 10;
    line-height: 18px;
}

.seventeen {
    grid-column: 11;
    line-height: 18px;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(2, fr);
    background-image: url('assets/misc/transparent.png');
    border-bottom: 2px solid rgb(219, 218, 218);
    border-top: 2px solid rgb(219, 218, 218);
    padding: 25px;
}

.one {
    grid-column: 1/2;
    grid-row: 1;
    border: 2px solid rgb(219, 218, 218);
}

/*.one:hover {
    border: 2px solid darkgrey;
}*/
.two {
    grid-column: 2;
    grid-row: 1;
}

/*.two:hover {
    border: 2px solid darkgrey;
}*/

.three {
    grid-column: 2;
    grid-row: 2;
}

/*.three:hover {
    border: 2px solid darkgrey;
    box-shadow: 2px darkgray;
}*/

.four {
    grid-column: 3;
    grid-row: 1;
}

/*.four:hover {
    border: 2px solid darkgrey;
}*/

.five {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(2, fr);
}


/*.five:hover {
    border: 2px solid darkgrey;
}*/

.box2 {
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, fr);
    margin: 10px;
    border-top: 2px solid rgb(219, 218, 218);
    padding-top: 25px;
}

.six {
    grid-column: 1;
}

.seven {
    grid-column: 2;
}

.eight {
    grid-column: 3;
}

.nine {
    grid-column: 4;
}

.ten {
    grid-column: 2;
}

.eleven {
    grid-column: 4;
}

.text {
    background-image: url(assets\misc\grille.png);
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, fr);
    margin: auto;
    padding: 3%;
    background-image: url('assets/misc/grille.png');
    font-family: 'Droid Sans';
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
}

.euh {
    grid-column: 2;
    font-family: 'Droid Sans';
    font-style: italic;
}

.vid {
    display: grid;
    grid-template-columns: repeat(3, fr);
    grid-gap: 10px;
    grid-template-rows: repeat(1, fr);
    background-image: url('assets/misc/transparent.png');
    border-bottom: 2px solid rgb(219, 218, 218);
    border-top: 2px solid rgb(219, 218, 218);
    padding: 25px;
}

.ytb {
    grid-column: 3;
}

.un {
    border-top: 5px solid orangered;
    margin-top: 8px;
}

.deux {
    border-top: 5px solid goldenrod;
    margin-top: 8px;
}

.trois {
    border-top: 5px solid lime;
    margin-top: 8px;
}

.quatre {
    border-top: 5px solid blue;
    margin-top: 8px;
}

.cinq {
    border-top: 5px solid mediumslateblue;
    margin-top: 8px;
}

.date {
    color: darkgray;
    font-family: 'Serif Sans';
    font-style: italic;
    font-size: 80%;
    font-weight: 600;
}
.grille{
    background-image: url('assets/misc/grille.png');
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-gap: 5px;
    grid-template-rows: repeat(1, fr);
}
.underline{
    text-decoration: underline;
}
.uno{
    grid-column: 1;
    grid-row: 1;
    /*border: 1px solid rgb(219, 218, 218);*/
}
.dos{
    grid-column: 2;
    grid-row: 1;
}
.tres{
    grid-column: 3;
    grid-row: 1;
}
.quatro{
    grid-column: 1;
    grid-row: 2;
}
.cinqo{
    grid-column: 2;
    grid-row: 2;
}
.seis{
    grid-column: 3;
    grid-row: 2;
}